.btn-transparent{
    border-radius: 15px;
    font-size: 23px;
}
.form-control::placeholder { 
    color: white;
    font-weight: 100;
}
.bg-filter{
    border-radius: 12px;
    font-weight: 100;
}
.form-select {
    background-image: url('images/caret-down.svg'); 
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 15px 15px; 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 25px;
    color: #fff;
    filter: invert(1);
    border-color: black;
    color: black;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {  
    .btn-transparent{
        font-size: 18px;
    }
    .form-select{
        padding: 10px 3px;
        margin: 0px 5px;
    }
    
}
@media only screen and (min-width: 376px) and (max-width: 425px) {
    .btn-transparent{
        font-size: 14px;
    }
    .form-select{
        padding: 5px 3px;
        margin: 0px 5px;
    }
    .filter-size{
        font-size: 21px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
    .btn-transparent{
        font-size: 14px;
    }
    .form-select{
        padding: 5px 3px;
        margin: 0px 5px;
    }
    .filter-size{
        font-size:21px;
    }
}